<div class="listBar">
  <div class="tableCon">
    <div class="tableDiv" style="height:450px;">
      <!-- 如果需要table的横向滚动，则修改设置table的min-width，具体值应为td的宽度总和-->
      <table class="table" cellpadding="1" cellspacing="1" style="min-width:100px;overflow-y:auto;">
        <colgroup>
          <!--必须自定义td宽度-->
          <col style="width: 100px">
          <col style="width: auto">
          <col style="width: 50px">
          <col style="width: 90px">
          <col style="width: 20px">
        </colgroup>
        <tr>
          <td class="textCenter" nowrap="true">#</td>
          <td nowrap="true" class="textLeft">商品名称</td>
          <td class="textLeft" nowrap="true">单位</td>
          <td nowrap="true" class="textRight">单价</td>
          <td nowrap="true" class="textRight">数量</td>
          <td nowrap="true" class="textRight">金额</td>
        </tr>
        <tr>
          <td class="textCenter">1</td>
          <td nowrap="true" class="textLeft">21</td>
          <td class="textLeft" nowrap="true">个</td>
          <td nowrap="true" class="textRight">2.00</td>
          <td nowrap="true" class="textRight">2</td>
          <td nowrap="true" class="textRight">4.00</td>
        </tr>
      </table>
    </div>
  </div>
</div>

