<div class="detailBox">
  <div class="detailBox-single" style="width:auto;">
    <table class="table">
      <tr>
        <td class="text">会员手机号</td>
        <td class="component">123456</td>
      </tr>
      <tr>
        <td class="text">会员姓名</td>
        <td class="component">
          <input style="height:30px;border-radius:2px;border:1px solid #ccc;padding-left:5px;width:57%;">
          <button btnMain="m2">编辑资料</button>
        </td>
      </tr>
      <tr>
        <td class="text">储值余额</td>
        <td class="component">
          <span style="width:57%;display:inline-block;">0</span>
          <button btnMain="m2">去充值</button>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="detailBox">
  <div class="tableList">
    <div class="tableList-title" style="border:none;margin-left:0;">
      <span class="tableList-title-text" style="border:none;">有效优惠券</span>
    </div>
  </div>
</div>
<div class="detailBox sku-box">
  <div class="tableList">
    <div class="tableList-title" style="border:none;margin-left:0;">
      <span class="tableList-title-text" style="border:none;">最常购买：</span>
      <div style="overflow-y:auto;width:100%;margin-top:20px;height:261px;">
        <div class="sku-item">
          <div class="skuNameDiv">蛋糕123441</div>
          <div class="skuSalePriceDiv"><span>¥4.00</span></div>
        </div>
        <div class="sku-item">
          <div class="skuNameDiv">蛋糕123441</div>
          <div class="skuSalePriceDiv"><span>¥4.00</span></div>
        </div>
        <div class="sku-item">
          <div class="skuNameDiv">蛋糕123441</div>
          <div class="skuSalePriceDiv"><span>¥4.00</span></div>
        </div>
        <div class="sku-item">
          <div class="skuNameDiv">蛋糕123441</div>
          <div class="skuSalePriceDiv"><span>¥4.00</span></div>
        </div>
        <div class="sku-item">
          <div class="skuNameDiv">蛋糕123441</div>
          <div class="skuSalePriceDiv"><span>¥4.00</span></div>
        </div>
        <div class="sku-item">
          <div class="skuNameDiv">蛋糕123441</div>
          <div class="skuSalePriceDiv"><span>¥4.00</span></div>
        </div>
        <div class="sku-item">
          <div class="skuNameDiv">蛋糕123441</div>
          <div class="skuSalePriceDiv"><span>¥4.00</span></div>
        </div>
        <div class="sku-item">
          <div class="skuNameDiv">蛋糕123441</div>
          <div class="skuSalePriceDiv"><span>¥4.00</span></div>
        </div><div class="sku-item">
        <div class="skuNameDiv">蛋糕123441</div>
        <div class="skuSalePriceDiv"><span>¥4.00</span></div>
      </div><div class="sku-item">
        <div class="skuNameDiv">蛋糕123441</div>
        <div class="skuSalePriceDiv"><span>¥4.00</span></div>
      </div><div class="sku-item">
        <div class="skuNameDiv">蛋糕123441</div>
        <div class="skuSalePriceDiv"><span>¥4.00</span></div>
      </div><div class="sku-item">
        <div class="skuNameDiv">蛋糕123441</div>
        <div class="skuSalePriceDiv"><span>¥4.00</span></div>
      </div><div class="sku-item">
        <div class="skuNameDiv">蛋糕123441</div>
        <div class="skuSalePriceDiv"><span>¥4.00</span></div>
      </div><div class="sku-item">
        <div class="skuNameDiv">蛋糕123441</div>
        <div class="skuSalePriceDiv"><span>¥4.00</span></div>
      </div>
      </div>
    </div>
  </div>
</div>

