<hd-dialog id="pendingDialog" >
  <div class="hd-dialog-title">挂单列表</div>
  <div class="hd-dialog-close" hd-dialog-close><i class="iconfont icon-fou"></i></div>
  <div class="hd-dialog-content" style="width: 850px;height:550px;max-height:550px;">
      <!--<div style="font-size:12px;text-align: center;padding:10px;"><span class="iconfont icon-jinggao" style="color:#1ca4fb;vertical-align:-2px;"></span>直接按下对应数字键即可新建或恢复挂单。挂单有效期为24小时，过期自动删除。可在选中状态下点击delete删除挂单</div>-->
    <div hdBgColor="info" style="width:95%;">
      <i class="icon iconfont icon-xiaoxitixing" tipsIcon></i>
      <div hdBgBody >
        直接按下对应数字键即可新建或恢复挂单。挂单有效期为24小时，过期自动删除。可在选中状态下点击delete删除挂单
      </div>
      <i class="icon iconfont icon-fou" closeIcon></i>
    </div>
    <div style="overflow: hidden;margin:10px;padding-left:10px;">
        <div class="item x-item-selected pending-box pendingactive">
          <div class="pending-top">
            <div class="pending-name">
              <span>1</span>
            </div>
            <span class="pending-content">会员：未知</span>
            <span class="pending-close">x</span>
          </div>
          <div style="width:100%;height:100px;text-align:center;line-height:100px;">
            <span style="font-size:20px;">暂无挂单</span>
          </div>
          <div hidden="" style="width:100%;height:100px;">
            <div style="width:100%;height:70px;display:flex;align-items:center;">
              <div style="flex:4;padding:5px 0;height:100%;text-align:center;">
                <span style="line-height:26px;">数量</span><br>
                <span style="font-size:22px;color:#333333;line-height:22px;">0</span>
              </div>
              <div style="flex:5;padding:5px 0;height:100%;text-align:center;">
                <span style="line-height:26px;">金额</span><br>
                <span style="font-size:22px;color:#333333;line-height:22px;">0</span>
              </div>
            </div>
            <div style="width:100%;height:18px;display:flex;align-items:center;background-color:rgba(102, 153, 255, 0.0980392156862745)">
              <span style="font-size:11px;line-height:18px;">挂单时间: </span>
              <span style="font-size:11px;font-weight:700;color:#EF4542;line-height:18px;">21小时前</span>
              <span style="font-size:11px;color:#333333;line-height:18px;">，02:30</span>
              <span style="font-size:11px;line-height:18px;">小时后自动删除</span>
            </div>
          </div>
        </div>
        <div class="item x-item-selected pending-box">
          <div class="pending-top">
            <div class="pending-name">
              <span>2</span>
            </div>
            <span class="pending-content">会员：未知</span>
            <span class="pending-close">x</span>
          </div>
          <div style="width:100%;height:100px;text-align:center;line-height:100px;">
            <span style="font-size:20px;">暂无挂单</span>
          </div>
          <div hidden="" style="width:100%;height:100px;">
            <div style="width:100%;height:70px;display:flex;align-items:center;">
              <div style="flex:4;padding:5px 0;height:100%;text-align:center;">
                <span style="line-height:26px;">数量</span><br>
                <span style="font-size:22px;color:#333333;line-height:22px;">0</span>
              </div>
              <div style="flex:5;padding:5px 0;height:100%;text-align:center;">
                <span style="line-height:26px;">金额</span><br>
                <span style="font-size:22px;color:#333333;line-height:22px;">0</span>
              </div>
            </div>
            <div style="width:100%;height:18px;display:flex;align-items:center;background-color:rgba(102, 153, 255, 0.0980392156862745)">
              <span style="font-size:11px;line-height:18px;">挂单时间: </span>
              <span style="font-size:11px;font-weight:700;color:#EF4542;line-height:18px;">21小时前</span>
              <span style="font-size:11px;color:#333333;line-height:18px;">，02:30</span>
              <span style="font-size:11px;line-height:18px;">小时后自动删除</span>
            </div>
          </div>
        </div>
        <div class="item x-item-selected pending-box">
          <div class="pending-top">
            <div class="pending-name">
              <span>3</span>
            </div>
            <span class="pending-content">会员：未知</span>
            <span class="pending-close">x</span>
          </div>
          <div style="width:100%;height:100px;text-align:center;line-height:100px;">
            <span style="font-size:20px;">暂无挂单</span>
          </div>
          <div hidden="" style="width:100%;height:100px;">
            <div style="width:100%;height:70px;display:flex;align-items:center;">
              <div style="flex:4;padding:5px 0;height:100%;text-align:center;">
                <span style="line-height:26px;">数量</span><br>
                <span style="font-size:22px;color:#333333;line-height:22px;">0</span>
              </div>
              <div style="flex:5;padding:5px 0;height:100%;text-align:center;">
                <span style="line-height:26px;">金额</span><br>
                <span style="font-size:22px;color:#333333;line-height:22px;">0</span>
              </div>
            </div>
            <div style="width:100%;height:18px;display:flex;align-items:center;background-color:rgba(102, 153, 255, 0.0980392156862745)">
              <span style="font-size:11px;line-height:18px;">挂单时间: </span>
              <span style="font-size:11px;font-weight:700;color:#EF4542;line-height:18px;">21小时前</span>
              <span style="font-size:11px;color:#333333;line-height:18px;">，02:30</span>
              <span style="font-size:11px;line-height:18px;">小时后自动删除</span>
            </div>
          </div>
        </div>
        <div class="item x-item-selected pending-box">
          <div class="pending-top">
            <div class="pending-name">
              <span>4</span>
            </div>
            <span class="pending-content">会员：未知</span>
            <span class="pending-close">x</span>
          </div>
          <div style="width:100%;height:100px;text-align:center;line-height:100px;">
            <span style="font-size:20px;">暂无挂单</span>
          </div>
          <div hidden="" style="width:100%;height:100px;">
            <div style="width:100%;height:70px;display:flex;align-items:center;">
              <div style="flex:4;padding:5px 0;height:100%;text-align:center;">
                <span style="line-height:26px;">数量</span><br>
                <span style="font-size:22px;color:#333333;line-height:22px;">0</span>
              </div>
              <div style="flex:5;padding:5px 0;height:100%;text-align:center;">
                <span style="line-height:26px;">金额</span><br>
                <span style="font-size:22px;color:#333333;line-height:22px;">0</span>
              </div>
            </div>
            <div style="width:100%;height:18px;display:flex;align-items:center;background-color:rgba(102, 153, 255, 0.0980392156862745)">
              <span style="font-size:11px;line-height:18px;">挂单时间: </span>
              <span style="font-size:11px;font-weight:700;color:#EF4542;line-height:18px;">21小时前</span>
              <span style="font-size:11px;color:#333333;line-height:18px;">，02:30</span>
              <span style="font-size:11px;line-height:18px;">小时后自动删除</span>
            </div>
          </div>
        </div>
        <div class="item x-item-selected pending-box">
          <div class="pending-top">
            <div class="pending-name">
              <span>5</span>
            </div>
            <span class="pending-content">会员：未知</span>
            <span class="pending-close">x</span>
          </div>
          <div style="width:100%;height:100px;text-align:center;line-height:100px;">
            <span style="font-size:20px;">暂无挂单</span>
          </div>
          <div hidden="" style="width:100%;height:100px;">
            <div style="width:100%;height:70px;display:flex;align-items:center;">
              <div style="flex:4;padding:5px 0;height:100%;text-align:center;">
                <span style="line-height:26px;">数量</span><br>
                <span style="font-size:22px;color:#333333;line-height:22px;">0</span>
              </div>
              <div style="flex:5;padding:5px 0;height:100%;text-align:center;">
                <span style="line-height:26px;">金额</span><br>
                <span style="font-size:22px;color:#333333;line-height:22px;">0</span>
              </div>
            </div>
            <div style="width:100%;height:18px;display:flex;align-items:center;background-color:rgba(102, 153, 255, 0.0980392156862745)">
              <span style="font-size:11px;line-height:18px;">挂单时间: </span>
              <span style="font-size:11px;font-weight:700;color:#EF4542;line-height:18px;">21小时前</span>
              <span style="font-size:11px;color:#333333;line-height:18px;">，02:30</span>
              <span style="font-size:11px;line-height:18px;">小时后自动删除</span>
            </div>
          </div>
        </div>
        <div class="item x-item-selected pending-box">
          <div class="pending-top">
            <div class="pending-name">
              <span>6</span>
            </div>
            <span class="pending-content">会员：未知</span>
            <span class="pending-close">x</span>
          </div>
          <div style="width:100%;height:100px;text-align:center;line-height:100px;">
            <span style="font-size:20px;">暂无挂单</span>
          </div>
          <div hidden="" style="width:100%;height:100px;">
            <div style="width:100%;height:70px;display:flex;align-items:center;">
              <div style="flex:4;padding:5px 0;height:100%;text-align:center;">
                <span style="line-height:26px;">数量</span><br>
                <span style="font-size:22px;color:#333333;line-height:22px;">0</span>
              </div>
              <div style="flex:5;padding:5px 0;height:100%;text-align:center;">
                <span style="line-height:26px;">金额</span><br>
                <span style="font-size:22px;color:#333333;line-height:22px;">0</span>
              </div>
            </div>
            <div style="width:100%;height:18px;display:flex;align-items:center;background-color:rgba(102, 153, 255, 0.0980392156862745)">
              <span style="font-size:11px;line-height:18px;">挂单时间: </span>
              <span style="font-size:11px;font-weight:700;color:#EF4542;line-height:18px;">21小时前</span>
              <span style="font-size:11px;color:#333333;line-height:18px;">，02:30</span>
              <span style="font-size:11px;line-height:18px;">小时后自动删除</span>
            </div>
          </div>
        </div>
        <div class="item x-item-selected pending-box">
          <div class="pending-top">
            <div class="pending-name">
              <span>7</span>
            </div>
            <span class="pending-content">会员：未知</span>
            <span class="pending-close">x</span>
          </div>
          <div style="width:100%;height:100px;text-align:center;line-height:100px;">
            <span style="font-size:20px;">暂无挂单</span>
          </div>
          <div hidden="" style="width:100%;height:100px;">
            <div style="width:100%;height:70px;display:flex;align-items:center;">
              <div style="flex:4;padding:5px 0;height:100%;text-align:center;">
                <span style="line-height:26px;">数量</span><br>
                <span style="font-size:22px;color:#333333;line-height:22px;">0</span>
              </div>
              <div style="flex:5;padding:5px 0;height:100%;text-align:center;">
                <span style="line-height:26px;">金额</span><br>
                <span style="font-size:22px;color:#333333;line-height:22px;">0</span>
              </div>
            </div>
            <div style="width:100%;height:18px;display:flex;align-items:center;background-color:rgba(102, 153, 255, 0.0980392156862745)">
              <span style="font-size:11px;line-height:18px;">挂单时间: </span>
              <span style="font-size:11px;font-weight:700;color:#EF4542;line-height:18px;">21小时前</span>
              <span style="font-size:11px;color:#333333;line-height:18px;">，02:30</span>
              <span style="font-size:11px;line-height:18px;">小时后自动删除</span>
            </div>
          </div>
        </div>
        <div class="item x-item-selected pending-box">
          <div class="pending-top">
            <div class="pending-name">
              <span>8</span>
            </div>
            <span class="pending-content">会员：未知</span>
            <span class="pending-close">x</span>
          </div>
          <div style="width:100%;height:100px;text-align:center;line-height:100px;">
            <span style="font-size:20px;">暂无挂单</span>
          </div>
          <div hidden="" style="width:100%;height:100px;">
            <div style="width:100%;height:70px;display:flex;align-items:center;">
              <div style="flex:4;padding:5px 0;height:100%;text-align:center;">
                <span style="line-height:26px;">数量</span><br>
                <span style="font-size:22px;color:#333333;line-height:22px;">0</span>
              </div>
              <div style="flex:5;padding:5px 0;height:100%;text-align:center;">
                <span style="line-height:26px;">金额</span><br>
                <span style="font-size:22px;color:#333333;line-height:22px;">0</span>
              </div>
            </div>
            <div style="width:100%;height:18px;display:flex;align-items:center;background-color:rgba(102, 153, 255, 0.0980392156862745)">
              <span style="font-size:11px;line-height:18px;">挂单时间: </span>
              <span style="font-size:11px;font-weight:700;color:#EF4542;line-height:18px;">21小时前</span>
              <span style="font-size:11px;color:#333333;line-height:18px;">，02:30</span>
              <span style="font-size:11px;line-height:18px;">小时后自动删除</span>
            </div>
          </div>
        </div>
        <div class="item x-item-selected pending-box">
          <div class="pending-top">
            <div class="pending-name">
              <span>9</span>
            </div>
            <span class="pending-content">会员：未知</span>
            <span class="pending-close">x</span>
          </div>
          <div style="width:100%;height:100px;text-align:center;line-height:100px;">
            <span style="font-size:20px;">暂无挂单</span>
          </div>
          <div hidden="" style="width:100%;height:100px;">
            <div style="width:100%;height:70px;display:flex;align-items:center;">
              <div style="flex:4;padding:5px 0;height:100%;text-align:center;">
                <span style="line-height:26px;">数量</span><br>
                <span style="font-size:22px;color:#333333;line-height:22px;">0</span>
              </div>
              <div style="flex:5;padding:5px 0;height:100%;text-align:center;">
                <span style="line-height:26px;">金额</span><br>
                <span style="font-size:22px;color:#333333;line-height:22px;">0</span>
              </div>
            </div>
            <div style="width:100%;height:18px;display:flex;align-items:center;background-color:rgba(102, 153, 255, 0.0980392156862745)">
              <span style="font-size:11px;line-height:18px;">挂单时间: </span>
              <span style="font-size:11px;font-weight:700;color:#EF4542;line-height:18px;">21小时前</span>
              <span style="font-size:11px;color:#333333;line-height:18px;">，02:30</span>
              <span style="font-size:11px;line-height:18px;">小时后自动删除</span>
            </div>
          </div>
        </div>
      </div>
  </div>
</hd-dialog>