<div style="overflow: hidden;position: absolute;bottom:10px;left:0;width:99%;">
  <div style="float:left;width:195px;margin-top:20px;">
    <button btnMain="m2">删行 F3</button>
    <button btnMain="m2">清屏 F1</button>
    <button btnMain="m2" style="margin-top:5px;">数量 F5</button>
  </div>
  <div style="float:right;">
      <div style="padding-top:20px;padding-bottom:20px;">商品数量：12件 <span style="color:red;">¥2963.00</span></div>
      <button btnMain="m2">一步收银 F9</button>
      <button btnMain="m1" ng-click="payDialogShow()">结账收银 Enter</button>
  </div>
</div>
<hd-dialog id="payDialog" >
  <!--<div class="hd-dialog-title"></div>-->
  <!--<div class="hd-dialog-close" hd-dialog-close><i class="iconfont icon-fou"></i></div>-->
  <div class="hd-dialog-content" style="max-width:820px;height:550px;width:820px;max-height:550px;">
    <div class="partBar" style="min-width:790px;margin:0;height:550px;padding:0;">
      <div class="partBox">
        <div class="partLeft" style="width:50%;padding:20px 10px;">
          <div class="partDiv">
            <!-- 左侧内容开始-->
            <div class="detailBox" style="border-bottom:1px solid #ccc;padding-bottom:10px;">
              <div style="padding:10px 0 10px 55px;">
                <em style="color:red;font-style:normal;">会员 F6</em>
                <input style="height:30px;border-radius:2px;border:1px solid #ccc;padding-left:5px;width:200px;"  hdInputSearch="hdInputSearch1" title="输入号码、名称">
              </div>
              <div class="detailBox-single" style="width:auto;padding:0">
                <table class="table">
                  <tr>
                    <td class="textLeftDiv">合计</td>
                    <td class="textRightDiv">5.00</td>
                    <td>
                      <button btnMain="m2"  style="margin-left:10px;">折扣 F4</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="textLeftDiv">优惠</td>
                    <td class="textRightDiv">10.00</td>
                    <td>
                      <button btnMain="m2" style="margin-left:10px;">优惠券 F7</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="textLeftDiv">应收</td>
                    <td class="textRightDiv">
                      <input style="height:30px;border-radius:2px;border:1px solid #ccc;padding-right:5px;text-align:right;">
                    </td>
                    <td></td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="detailBox" style="border-bottom:1px solid #ccc;padding-bottom:35px;">
              <div class="detailBox-single" style="width:auto;padding:0">
                <table class="table">
                  <tr>
                    <td class="textLeftDiv">现金</td>
                    <td class="textRightDiv">
                      <span class="payWidth">0.00</span>
                    </td>
                    <td>
                    </td>
                  </tr>
                  <tr>
                    <td class="textLeftDiv">扫码支付</td>
                    <td class="textRightDiv">
                      <span class="payWidth">0.00</span>
                    </td>
                    <td>
                      <button btnMain="m2" style="margin-left:10px;">开通 F1</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="textLeftDiv">储值支付</td>
                    <td class="textRightDiv">
                      <span class="payWidth">0.00</span>
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="textLeftDiv">其他支付</td>
                    <td class="textRightDiv">
                      <span class="payWidth">0.00</span>
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="textLeftDiv">赊账</td>
                    <td class="textRightDiv">
                      <span class="payWidth">0.00</span>
                    </td>
                    <td></td>
                  </tr>
                </table>
              </div>
            </div>
            <div style="overflow: hidden;margin:20px 10px;">
              <span style="float: left;font-size:30px;">找零</span>
              <span style="float: right;font-size:30px;color:#ed586f;">0.00</span>
            </div>
            <!-- 左侧内容结束-->
          </div>
        </div>


        <div class="partRight" style="width:50%;background:rgba(0,0,0,0.9);">
          <div class="partDiv">
            <!-- 右侧内容开始-->
            <div style="padding:20px 10px;">
                <span class="payBtn">扫码<br>支付<br>F1</span>
                <span class="payBtn payBtnActive">现金<br>支付<br>F3</span>
                <span class="payBtn">储值<br>支付<br>F5</span>
                <span class="payBtn" style="margin-right:0;vertical-align:17px;padding-top:8px;">更多<br>F2</span>
            </div>
            <div style="position:relative;width:92%;left:10px;">
              <span style="position: absolute;top:10px;left:10px;font-size:16px;">现金</span>
              <input style="width:96%;height:40px;border:none;border-radius: 3px;text-align: right;padding-right:10px;">
            </div>
            <div style="width:385px;padding-top:30px;">
              <table class="payTableDiv" cellspacing="10">
                <tr>
                  <td><span>7</span></td>
                  <td><span>8</span></td>
                  <td><span>9</span></td>
                  <td><span>←</span></td>
                </tr>
                <tr>
                  <td><span>4</span></td>
                  <td><span>5</span></td>
                  <td><span>6</span></td>
                  <td>
                    <span hd-dialog-close>取消<br>esc</span>
                  </td>
                </tr>
                <tr>
                  <td><span>1</span></td>
                  <td><span>2</span></td>
                  <td><span>3</span></td>
                  <td rowspan="2" class="payEnter">
                      <span style="display:inline-block;width:100%;height:100%;padding-top:50px;">
                        结算<br>
                        Enter
                      </span>
                  </td>
                </tr>
                <tr>
                  <td><span>00</span></td>
                  <td><span>0</span></td>
                  <td><span>.</span></td>
                </tr>
              </table>
            </div>

            <!-- 右侧内容结束-->
          </div>
        </div>
      </div>
    </div>
  </div>
</hd-dialog>